<div class="container">
  <div class="row">
    <div class="col-sm bg-warning m-2 p-3">
      <div class="h5 text-center">ユーザー数</div>
      <p class='h1 text-center'><%= @users.count %></p>
    </div>
    <div class="col-sm border m-2 p-3">
      <div class="h5 text-center">カテゴリ数</div>
      <p class='h1 text-center'><%= @categories.count %></p>
    </div>
    <div class="col-sm border m-2 p-3">
      <div class="h5 text-center">細分化率</div>
      <p class='h1 text-center'><%= @categories.count / @genres.count / @users.count %></p>
    </div>
  </div>
</div>
